@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.9rem;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.heading-primary {
  font-size: 3.8rem;
  font-weight: 400;
  color: #000;
  line-height: 1.4;
}
@media only screen and (max-width: 68.75em) {
  .heading-primary {
    font-size: 3.5rem;
  }
}
.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  line-height: 1.4;
}
@media only screen and (max-width: 68.75em) {
  .heading-secondary {
    font-size: 3.5rem;
  }
}
.heading-text {
  font-size: 2.4rem;
  font-weight: 400;
  color: #858585;
  line-height: 1.5;
}
@media only screen and (max-width: 68.75em) {
  .heading-text {
    font-size: 1.75rem;
  }
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.fs-900 {
  font-size: 9.5rem;
}

.fs-800 {
  font-size: 6.25rem;
}

.fs-700 {
  font-size: 3.5rem;
}

.fs-600 {
  font-size: 2rem;
}

.fs-500 {
  font-size: 1.75rem;
}

.fs-400 {
  font-size: 1.125rem;
}

.fs-300 {
  font-size: 1rem;
}

.fs-200 {
  font-size: 0.875rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

input,
button,
textarea, select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::selection {
  background-color: #011523;
  color: #fff;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 10;
}

.br {
  border-radius: 3px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 0.75px;
}

.br-sm {
  border-radius: 0.75px;
}

.br-lg {
  border-radius: 6px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-xs {
  font-size: 0.4rem;
}

.font-sm {
  font-size: 1.2rem;
}

.font-md {
  font-size: 1.6rem;
}

.font-lg {
  font-size: 2.4rem;
}

.font-xl {
  font-size: 3.2rem;
}

.font-xxl {
  font-size: 4.8rem;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-normal {
  justify-content: normal;
}

.justify-right {
  justify-content: right;
}

.justify-left {
  justify-content: left;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

.align-normal {
  align-items: normal;
}

.align-stretch {
  align-items: stretch;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.hr-default {
  margin: 2rem auto;
  width: 90%;
  border: 0;
  height: 1px;
  background: #3F3F40;
  background-image: linear-gradient(to right, #D8DAE0, #3F3F40, #D8DAE0);
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.1s;
  position: relative;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: inherit;
  border-radius: 2px;
  margin: 0.21rem;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.1) scaleY(1.2);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: #fff;
  color: #3F3F40;
}
.btn-white::after {
  background-color: #fff;
}
.btn-danger {
  background-color: #F5402C;
  color: #fff;
}
.btn-danger::after {
  background-color: #F5402C;
}
.btn-success {
  background-color: #03B66F;
  color: #fff;
}
.btn-success::after {
  background-color: #03B66F;
}
.btn-primary {
  background-color: #1B62A9;
  color: #fff;
}
.btn-primary::after {
  background-color: #1B62A9;
}
.btn-info {
  background-color: #CBCDD4;
  color: #fff;
}
.btn-info::after {
  background-color: #CBCDD4;
}
.btn-warning {
  background-color: #F7922E;
  color: #fff;
}
.btn-warning::after {
  background-color: #F7922E;
}
.btn-xxl {
  font-size: 4.8rem;
}
.btn-xl {
  font-size: 3.2rem;
}
.btn-lg {
  font-size: 2.4rem;
}
.btn-sm {
  font-size: 1.2rem;
}
.btn-xs {
  font-size: 0.4rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  width: 100%;
  display: block;
  transition: all 0.1s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(35, 27, 35, 0.1);
  border-bottom: 1px solid #f8a425;
}
.form__input:focus:invalid {
  border-bottom: 1px solid #231B23;
}
.form__input::-webkit-input-placeholder {
  color: #858585;
}
.form__select, .form__option {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  width: 100%;
  display: block;
  transition: all 0.3s;
}
.form__label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #AB3C24;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #AB3C24;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__textarea {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  width: 100%;
  display: block;
  transition: all 0.3s;
  font-family: "Roboto Condensed", sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 0.25em;
  margin: 1em;
}
.table thead {
  background-color: #2C2C2C;
}
.table thead tr th {
  font-size: 1.2rem;
  padding: 0.7rem;
  vertical-align: top;
  background: #6B5B4D;
  border-bottom: 1px solid #364043;
  color: #F7F5F4;
  font-weight: 700;
}
.table tbody td {
  font-size: 1.2rem;
  color: #2C2C2C;
  font-weight: 400;
  padding: 0.65em 1em;
  border: 1px solid #E2D9CD;
}
.table__link {
  text-align: center;
  display: block;
  cursor: pointer;
  width: 100%;
}
.table__icon {
  width: 1.9rem;
  height: 1.9rem;
}
.table__icon-edit {
  fill: #1B62A9;
}
.table__icon-trash {
  fill: #F5402C;
}
@media only screen and (max-width: 56.25em) {
  .table thead {
    display: none;
  }
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 1rem;
  }
  .table tr:nth-child(even) {
    background: #FCF8F0;
    transition: all 0.3s ease-in-out;
  }
  .table tbody tr td {
    text-align: right;
    position: relative;
    padding-right: 1.5rem;
    font-size: 1.6rem;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    text-align: left;
    padding-left: 1.5rem;
  }
  .table__link {
    text-align: right;
  }
}

.admin {
  --spacing: 1rem;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  height: 100vh;
  grid-template-rows: 5rem 1fr 2rem;
  grid-template-columns: 20rem 1fr;
  grid-template-areas: "header header" "nav    main" "footer footer";
}
.admin__header {
  display: flex;
  flex-basis: 100%;
  grid-area: header;
  height: 5rem;
  background-color: #b98f4b;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}
.admin__nav {
  flex: 0 0 20rem;
  grid-area: nav;
  background-color: #A0A598;
}
.admin__main {
  flex: 1;
  grid-area: main;
  padding: var(--spacing);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #f4f7fa;
}
.admin__footer {
  display: flex;
  grid-area: footer;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 0 var(--spacing);
  color: #F7F5F4;
  background-color: #1d2127;
}
@media screen and (min-width: 48rem) {
  .admin {
    --spacing: 2rem;
  }
}

.logo {
  display: flex;
  flex: 0 0 20rem;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  color: #fff;
  background-color: #b98f4b;
  font-size: 1rem;
}

.toolbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing);
}

.menu {
  list-style-type: none;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.menu__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
.menu__link {
  display: block;
  padding: 1.25rem 2rem;
  color: #F7F5F4;
  text-decoration: none;
  font-size: 1.6rem;
}
.menu__link:hover, .menu__link:focus {
  color: #fff;
  background-color: #6D7174;
}

.card {
  height: 100%;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ticker {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.ticker__item {
  margin-right: 1rem;
}

.aside__list {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.aside__item {
  list-style: none;
  display: block;
}
.aside__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.aside__link {
  color: #F7F5F4;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
}
.aside__link:hover {
  background-color: #6D7174;
}
.aside__icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: #F7F5F4;
  margin-right: 1rem;
}
.aside__dropdown {
  display: none;
}

.dashboard {
  --column-count: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--spacing) * -0.5);
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-gap: var(--spacing);
}
.dashboard__item {
  flex: 1 1 50%;
  grid-column-end: span 2;
  padding: calc(var(--spacing) / 2);
}
.dashboard__item--full {
  flex-basis: 100%;
  grid-column: 1/-1;
}
.dashboard__item--col {
  flex-basis: calc(100% / var(--column-count));
  grid-column-end: span 1;
}
@media screen and (min-width: 48rem) {
  .dashboard {
    --column-count: 4;
  }
}
@supports (display: grid) {
  .dashboard {
    margin: 0;
  }
  .dashboard__item {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
